<%= semantic_form_for @accommodation, :class_names => "d" do |form| %>
  <% form.inputs :name => "Where do you live?", :class => "inputs where-do-you-live" do %>
    <%= form.input :address1, :label => "Address line 1" %>
    <%= form.input :address2, :label => "Address line 2" %>
	<li>
	<%= form.label :suburb, :label => "Suburb" %>
	    <%= form.select :suburb, ['Acacia Ridge', 'Albany Creek', 'Albion', 'Alderley', 'Algester', 'Annerley', 'Anstead', 'Archerfield', 'Ascot', 'Ashgrove', 'Aspley', 'Auchenflower', 'Bald Hills', 'Balmoral', 'Banks Creek', 'Banyo', 'Bardon', 'Bellbowrie', 'Belmont', 'Berrinba', 'Boondall', 'Bowen Hills', 'Bracken Ridge', 'Bridgeman Downs', 'Brighton', 'Brisbane Airport', 'Brookfield', 'Bulimba', 'Burbank', 'Calamvale', 'Camp Hill', 'Cannon Hill', 'Capalaba West', 'Carina', 'Carina Heights', 'Carindale', 'Carole Park', 'Carseldine', 'Chandler', 'Chapel Hill', 'Chelmer', 'Chermside', 'Chermside West', 'Chuwar', 'City', 'Clayfield', 'Coopers Plains', 'Coorparoo', 'Corinda', 'Darra', 'Deagon', 'Doolandella', 'Drewvale', 'Durack', 'Dutton Park', 'Eagle Farm', 'East Brisbane', 'Eight Mile Plains', 'Ellen Grove', 'England Creek', 'Enoggera', 'Enoggera Reservoir', 'Everton Park', 'Fairfield', 'Ferny Grove', 'Fig Tree Pocket', 'Fitzgibbon', 'Forest Lake', 'Fortitude Valley', 'Gaythorne', 'Geebung', 'Gordon Park', 'Graceville', 'Grange', 'Greenslopes', 'Gumdale', 'Hamilton', 'Hawthorne', 'Heathwood', 'Hemmant', 'Hendra', 'Herston', 'Highgate Hill', 'Holland Park', 'Holland Park West', 'Inala', 'Indooroopilly', 'Jamboree Heights', 'Jindalee', 'Kangaroo Point', 'Karana Downs', 'Karawatha', 'Kedron', 'Kelvin Grove', 'Kenmore', 'Kenmore Hills', 'Keperra', 'Kholo', 'Kuraby', 'Lake Manchester', 'Larapinta', 'Lota', 'Lutwyche', 'Lytton', 'Macgregor', 'Mackenzie', 'Manly', 'Manly West', 'Mansfield', 'McDowall', 'Middle Park', 'Milton', 'Mitchelton', 'Moggill', 'Moorooka', 'Morningside', 'Mount Coot-tha', 'Mount Crosby', 'Mount Gravatt', 'Mount Gravatt East', 'Mount Ommaney', 'Murarrie', 'Myrtletown', 'Nathan', 'New Farm', 'Newmarket', 'Newstead', 'Norman Park', 'Northgate', 'Nudgee', 'Nudgee Beach', 'Nundah', 'Oxley', 'Paddington', 'Pallara', 'Parkinson', 'Petrie Terrace', 'Pinjarra Hills', 'Pinkenba', 'Pullenvale', 'Ransome', 'Red Hill', 'Richlands', 'Riverhills', 'Robertson', 'Rochedale', 'Rocklea', 'Runcorn', 'Salisbury', 'Sandgate', 'Seven Hills', 'Seventeen Mile Rocks', 'Sherwood', 'Shorncliffe', 'Sinnamon Park', 'South Brisbane', 'Spring Hill', 'St Lucia', 'Stafford', 'Stafford Heights', 'Stretton', 'Sumner', 'Sunnybank', 'Sunnybank Hills', 'Taigum', 'Taringa', 'Tarragindi', 'Teneriffe', 'Tennyson', 'The Gap', 'Tingalpa', 'Toowong', 'Upper Brookfield', 'Upper Kedron', 'Upper Mount Gravatt', 'Virginia', 'Wacol', 'Wakerley', 'Wavell Heights', 'West End', 'Westlake', 'Willawong', 'Wilston', 'Windsor', 'Wishart', 'Woolloongabba', 'Wooloowin', 'Wynnum', 'Wynnum West', 'Yeerongpilly', 'Yeronga', 'Zillmere'] %>
	</li>
  <% end %>

  <% form.inputs :name => "Who can you accommodate?", :class => "inputs who-can-you-accommodate" do %>
    <%= form.input :number_of_people, :label => "Number of people" %>
    <%= form.input :takes_pets, :label => "Pets" %>
    <%= form.input :takes_family, :label => "A Family" %>
    <%= form.input :takes_children, :label => "Children" %>
    <%= form.input :takes_smokers, :label => "Smokers" %>
    <%= form.input :takes_other_needs, :label => "Other Needs" %>
  <% end %>

  <% form.inputs :name => "Your Details", :class => "inputs your-contact-details" do %>
    <%= form.input :name, :label => 'Name' %>
    <%= form.input :phone_home, :label => 'Home Phone' %>
    <%= form.input :phone_mobile, :label => 'Mobile Phone' %>
    <%= form.input :other_phone, :label => 'Other Phone' %>
    <%= form.input :email, :label => 'Email' %>
    <%= form.input :over_eighteen, :label => "Over 18" %>
  <% end %>

  <% form.inputs :name => "Other Comments", :class => "inputs other-comments" do %>
    <%= form.input :comments, :label => false, :as => :text %>
  <% end %>  

  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
