<div id="app" class="formbox">
<%= semantic_form_for @accommodation, :class_names => "d" do |form| %>
  <%= form.inputs :name => "Who can you accommodate?", :class => "inputs who-can-you-accommodate" do %>
    <li>
    <%= form.input :number_of_beds, :as => :select, :prompt => "Please Select", :collection => number_of_beds %>
    </li>
    <%= form.input :takes_pets, :label => "Pets ok?", :class => 'checkbox' %>
    <%= form.input :takes_pets_comment, :label => "Comments about pets", :input_html => { :size => 5 } %>
    <%= form.input :takes_children, :label => "Suitable for children?", :class => 'checkbox' %>
    <%= form.input :takes_smokers, :label => "Smokers ok?", :class => 'checkbox' %>
    <%= form.input :takes_disabled, :label => "Disabled access?", :class => 'checkbox' %>
    <%= form.input :takes_storage, :label => "Storage available?", :class => 'checkbox' %>
    <%= form.input :takes_storage_comment, :label => "Comments about storage" %>
  <% end %>

  <%= form.inputs :name => "Where do you live?", :class => "inputs where-do-you-live" do %>
    <li><span>NB: your address will not be visible - users of this website will only see your suburb and area.</span></li>
    <%= form.input :address1, :label => "Address line 1" %>
    <%= form.input :address2, :label => "Address line 2" %>
	<%= form.input :suburb, :label => "Suburb" %>
    <%= form.input :postcode, :label => "Postcode", :input_html => { :maxlength => 4 } %>
    <li>  
    <%= form.input :area, :as => :select, :prompt => "Please Select", :collection => areas %>
    </li>
  <% end %>

  <%= form.inputs :name => "Your Details", :class => "inputs your-contact-details" do %>

    <%= form.input :name, :label => 'Name' %><p>
    <li><span>NB: the contact details you enter below will not be visible - users of this website will only see the name you enter above.</span></li>
    <%= form.input :phone_home, :label => 'Home Phone' %>
    <%= form.input :phone_mobile, :label => 'Mobile Phone' %>
    <%= form.input :other_phone, :label => 'Other Phone' %>
    <%= form.input :email, :label => 'Email' %>
    <%= form.input :email_confirmation, :required => true, :label => 'Email Confirmation' %>
    <%= form.input :over_eighteen, :required=> true, :label => "Please confirm that you are over 18", :class => 'checkbox' %>
  <% end %>

  <%= form.inputs :name => "Other Comments", :class => "inputs other-comments" do %>
    <%= form.input :comments, :label => false, :as => :text %>
  <% end %>  

  <%= form.inputs :name => "Terms and Conditions", :class => "inputs terms-and-conditions" do %>
    <ul>
      <li>By accepting these terms and conditions you acknowledge that you’re providing goods and/or services at your own risk and that GetUp! will not be responsible for the conduct of any person who contacts you. You understand that GetUp! may provide your personal details to third parties assisting with the natural disaster relief campaign.  You agree to release GetUp! and its affiliates from any liability arising from any person who contacts you and you agree to the <a href="/guidelines#terms_and_conditions" title="Terms &amp; Conditions" target="_blank">Terms of Use</a> on the website.</li>
    </ul>
    <%= form.input(:terms_and_conditions_accepted, :required => true, :label => "I accept the above terms &amp; conditions.", :class => 'checkbox') %>
  <% end %>

  <%= form.actions do %>
    <%= form.action :submit %>
  <% end %>
<% end %>
</div>
