<%= semantic_form_for @accommodation, :class_names => "d" do |form| %>
  <%= form.inputs :name => "Who can you accommodate?", :class => "inputs who-can-you-accommodate" do %>
    <li>
    <%= form.input :number_of_beds, :as => :select, :prompt => "Please Select", :collection => number_of_beds %>
    </li>
    <%= form.input :takes_pets, :label => "Pets ok?" %>
    <%= form.input :takes_pets_comment, :input_html => { :size => 5 }  %>
    <%= form.input :takes_children, :label => "Suitable for children?" %>
    <%= form.input :takes_smokers, :label => "Smokers ok?" %>
    <%= form.input :takes_disabled, :label => "Disabled access?" %>
    <%= form.input :takes_storage, :label => "Storage available?" %>
    <%= form.input :takes_storage_comment  %>
  <% end %>

  <%= form.inputs :name => "Where do you live?", :class => "inputs where-do-you-live" do %>
    <%= form.input :address1, :label => "Address line 1" %>
    <%= form.input :address2, :label => "Address line 2" %>
	<%= form.input :suburb, :label => "Suburb" %>
    <%= form.input :postcode, :label => "Postcode", :input_html => { :maxlength => 4 } %>
    <li>  
    <%= form.input :area, :as => :select, :prompt => "Please Select", :collection => areas %>
    </li>
  <% end %>

  <%= form.inputs :name => "Your Details", :class => "inputs your-contact-details" do %>
    <%= form.input :name, :label => 'Name' %>
    <%= form.input :phone_home, :label => 'Home Phone' %>
    <%= form.input :phone_mobile, :label => 'Mobile Phone' %>
    <%= form.input :other_phone, :label => 'Other Phone' %>
    <%= form.input :email, :label => 'Email' %>
    <%= form.input :email_confirmation, :required => true, :label => 'Email Confirmation' %>
    <%= form.input :over_eighteen, :required=> true, :label => "Over 18" %>
  <% end %>

  <%= form.inputs :name => "Other Comments", :class => "inputs other-comments" do %>
    <%= form.input :comments, :label => false, :as => :text %>
  <% end %>  

  <%= form.inputs :name => "Terms and Conditions", :class => "inputs terms-and-conditions" do %>
    <p> Blah Blah Blah </p>
    <%= form.input :terms_and_conditions_accepted, :label => "Accept" %>
  <% end %>  

  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
