<div class="formbox">
<%= semantic_form_for @seeker, :class_names => "d" do |form| %>
  <% form.inputs :name => "Your information", :class => "inputs your-information" do %>
    <li>
	    <%= form.input :name, :required => true, :label => "Name" %>
    </li>
    <li>
	    <%= form.input :phone, :required => true, :label => "Phone" %>
    </li>
    <li>
	    <%= form.input :backup_phone, :label => "Backup Phone" %>
    </li>
    <li>
	    <%= form.input :email, :label => "Email" %>
    </li>
  <% end %>
  <% form.inputs :name => "Your requirements", :class => "inputs your-requirements" do %>
    <li>
	    <%= form.input :number_of_beds, :label => "Number of Beds" %>
    </li>
    <li>
	    <%= form.input :pets,  :label => "Pets" %>
    </li>
    <li>
	    <%= form.input :allergies,  :label => "Allergies" %>
    </li>

    <li>
	    <%= form.input :special_requirements, :label => "Special Access Requirements" %>
    </li>
    <li>
	    <%= form.input :personal_message, :label => "Personal Message" %>
    </li>
  <% end %>    
  <%= form.inputs :name => "Terms and Conditions", :class => "inputs terms-and-conditions" do %>
    <%= form.input(:terms_and_conditions_accepted, :label => "I accept", :as => :boolean) %>
    <p>By checking this box, I acknowledge that I am providing goods and/or services at my own risk and that GetUp! Limited
    will not be responsible for the conduct of any person who contacts me through OzFloodHelp or any other means through
    GetUp!’s flood relief assistance campaign. I understand that GetUp! is not familiar with the laws of every State, and
    if I have any questions regarding the legal implications of the goods and/or services I am offering, I should seek legal
    advice in my State. I understand that GetUp! may, exclusively for the purpose of flood relief assistance, provide my
    personal details and contact information to third parties assisting with the flood relief campaign. I hereby release GetUp!
    Limited and its directors, officers, employees, agents, affiliates and representatives from any liability arising from any
    acts or omissions of any person who contacts me through OzFloodHelp or any other means through GetUp!’s flood relief
    campaign. I also agree to the <a href="/guidelines#terms_and_conditions" title="Terms &amp; Conditions">Terms of Use</a>.
    </p>
  <% end %>
  <%= hidden_field_tag 'accommodation', @accommodation.id %>
  <fieldset class="buttons">
    <ol>
      <li class="commit"><input class="submit" id="seeker_submit" name="commit" type="submit" value="Submit" /></li> 
    </ol>
  </fieldset>
<% end %>
</div>