<h1>Listing accommodations</h1>

<table>
  <tr>
    <th>Suburb</th>
    <th>No. People</th>
    <th>Pets?</th>
    <th>Family?</th>
    <th>Children?</th>
    <th></th>
  </tr>

<% @accommodations.each do |accommodation| %>
  <tr>
    <td><%= accommodation.suburb %></td>
    <td><%= accommodation.number_of_beds %></td>
    <td><%= accommodation.takes_pets %></td>
    <td><%= accommodation.takes_family %></td>
    <td><%= accommodation.takes_children %></td>
    <td><%= link_to 'Show', accommodation %></td>
  </tr>
<% end %>
</table>

<br />

