
<form id="suburb-search" name="suburb-search" action="/accommodations/search" method="get">
<label for="suburb">Filter by suburb:</label>
<%= select_tag "suburb", options_for_select(['All'] + suburbs, @suburb), options={:onchange=>"this.form.submit()"} %>
</form>

<ul class="listing">
<% @accommodations.each do |accommodation| %>	
	<li class= "<%= cycle("even", "odd") %> box-shadow">
		<dl class="details">
			<dt class="accomodation-name">Name</dt>
			<dd><%=empty_default(accommodation.name)%></dd>
			<dt class="accomodation-email">Email</dt>
			<dd><%=empty_default(accommodation.email)%></dd>
			<dt class="accomodation-mobile">Mobile</dt> 
			<dd><%=empty_default(accommodation.phone_mobile)%></dd>
		  <dt class="accomodation-home-phone">Home phone</dt> 
		  <dd><%=empty_default(accommodation.phone_home)%></dd>
			<dt class="accomodation-other-phone">Other phone</dt> 
			<dd><%=empty_default(accommodation.other_phone)%></dd>
		</dl>
		<dl class="details address">
		  <dt>Address</dt>
		  <dd><%=accommodation.complete_address%></dd>
		</dl>
		<dl class="details comments">
		  <dt>Comments</dt>
			<dd><%=accommodation.comments%></dd>
		</dl>
		<dl class="details">
			<dt>Pets</dt> 
			<dd><%=accommodation.takes_pets ? "Yes" : "No"%></dd>
			<dt>Family</dt> 
			<dd><%=accommodation.takes_family ? "Yes" : "No"%></dd>
			<dt>Children</dt> 
			<dd><%=accommodation.takes_family ? "Yes" : "No"%></dd>
			<dt>Other needs</dt> 
			<dd><%=accommodation.takes_other_needs ? "Yes" : "No"%></dd>
		</dl>
  </li>
<% end %>
</ul>