
<form id="suburb-search" name="suburb-search" action="/accommodations/search" method="get">
<div>
	<label for="suburb">I am looking for accommodation in</label>
	<%= select_tag "suburb", options_for_select(['All'] + suburbs, @suburb), options={:onchange=>"this.form.submit()"} %>
</div>
<div>I need <%= text_field_tag 'number_of_beds', @number_of_beds, options={:onchange=>"this.form.submit()"}  %> beds</div>
<div><%= check_box_tag 'pets', 'yes', @pets, options={:onchange=>"this.form.submit()"}  %>I want to take my pet</div>
<div><%= check_box_tag 'smokers', 'yes', @smokers, options={:onchange=>"this.form.submit()"}  %>I need to get my nicotine fix</div>
<div><%= check_box_tag 'children', 'yes', @children, options={:onchange=>"this.form.submit()"}  %>I have children</div>

</form>

<% if @accommodations.size == 0 %>
<div id="no-listings-message" >We are sorry, but we haven't been able to find anywhere matching your description. Perhaps you should try a different neighbourhood?</div>
<%end%>

<ul class="listing">
<% @accommodations.each do |accommodation| %>	
	<li class= "<%= cycle("even", "odd") %> box-shadow">
	    <% if login_signed_in? %>
            <fieldset style="float: right">
            	<%= button_to 'Edit', edit_accommodation_path(accommodation), :method => :get %>
            </fieldset>
        <% end %>
		<dl class="details">
			<dt class="number-of-people">Number of people that we can take</dt>
			<dd><%=accommodation.number_of_beds%></dd>
		</dl>
		<dl class="details address">
		  <dt>Address</dt>
		  <dd><%=accommodation.complete_address%></dd>
		</dl>
		<dl class="details comments">
		  <dt>Comments</dt>
			<dd><%=accommodation.comments%></dd>
		</dl>
		<dl class="details">
			<dt>Pets</dt> 
			<dd><%=accommodation.takes_pets ? "Yes" : "No"%></dd>
			<dt>Children</dt> 
			<dd><%=accommodation.takes_children ? "Yes" : "No"%></dd>
			<dt>Smokers</dt> 
			<dd><%=accommodation.takes_smokers ? "Yes" : "No"%></dd>
		</dl>
		<dl>
			<dt>Interested?</dt>
			<dd><%= button_to 'Contact the host', contact_host_accommodation_path(accommodation), :method => :get %></dd>
		</dl>
  </li>
<% end %>
</ul>

<%= will_paginate @accommodations %>
