
<form id="suburb-search" name="suburb-search" action="/accommodations/search" method="get">
<div>
	<label for="suburb">I am looking for accommodation in</label>
	<%= select_tag "suburb", options_for_select(['All'] + suburbs, @suburb), options={:onchange=>"this.form.submit()"} %>
</div>
<div>I need <%= text_field_tag 'number_of_people', @number_of_people, options={:onchange=>"this.form.submit()"}  %> beds</div>
<div><%= check_box_tag 'pets', 'yes', @pets, options={:onchange=>"this.form.submit()"}  %>I want to take my pet</div>
<div><%= check_box_tag 'smokers', 'yes', @smokers, options={:onchange=>"this.form.submit()"}  %>I need to get my nicotine fix</div>
<div><%= check_box_tag 'children', 'yes', @children, options={:onchange=>"this.form.submit()"}  %>I have children</div>
</form>

<ul class="listing">
<% @accommodations.each do |accommodation| %>	
	<li class= "<%= cycle("even", "odd") %> box-shadow">
		<dl class="details">
			<dt class="accomodation-name">Name</dt>
			<dd><%=empty_default(accommodation.name)%></dd>
			<dt class="accomodation-email">Email</dt>
			<dd><%=empty_default(accommodation.email)%></dd>
			<dt class="accomodation-mobile">Mobile</dt> 
			<dd><%=empty_default(accommodation.phone_mobile)%></dd>
		  <dt class="accomodation-home-phone">Home phone</dt> 
		  <dd><%=empty_default(accommodation.phone_home)%></dd>
			<dt class="accomodation-other-phone">Other phone</dt> 
			<dd><%=empty_default(accommodation.other_phone)%></dd>
		</dl>
		<dl class="details address">
		  <dt>Address</dt>
		  <dd><%=accommodation.complete_address%></dd>
		</dl>
		<dl class="details comments">
		  <dt>Comments</dt>
			<dd><%=accommodation.comments%></dd>
		</dl>
		<dl class="details">
			<dt>Pets</dt> 
			<dd><%=accommodation.takes_pets ? "Yes" : "No"%></dd>
			<dt>Family</dt> 
			<dd><%=accommodation.takes_family ? "Yes" : "No"%></dd>
			<dt>Children</dt> 
			<dd><%=accommodation.takes_children ? "Yes" : "No"%></dd>
			<dt>Other needs</dt> 
			<dd><%=accommodation.takes_other_needs ? "Yes" : "No"%></dd>
		</dl>
		
		<%= link_to 'Edit', edit_accommodation_path(accommodation) %>
		<%= link_to 'Disable', disable_accommodation_path(accommodation) %>
  </li>
<% end %>
</ul>

<%= will_paginate @posts %>
