<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= content_for(:title) %></title>
    <%= stylesheet_link_tag 'screen' %>
    <%= stylesheet_link_tag 'flash' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'flash' %>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
	<link href='<%= request.protocol %>fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <div class="head">
            <div class="logos">
                <a href="/"><img src="/images/logo.gif" alt="OzFloodHelp.org" height="112" width="332" /></a>
            </div><!--logos-->
			<div class="sponsors">
				<a href="http://www.getup.org.au/" target="_blank" >
	                <img src="/images/get_up_logo.gif" alt="GetUp! Action for Australia" height="81" width="149" />
				</a>
				<a href="http://www.thoughtworks.com/" target="_blank">
	                <img src="/images/thoughtworks_logo.gif" alt="ThoughtWorks Australia" height="81 width="146" />
				</a>
            </div><!--sponsors-->
			<div class="networks">
				<div class="share-mail">
					<a href="mailto: ?Subject=Temporary%20housing%20for%20flood%20victims&Body=Hi%2C%0A%0ATens%20of%20thousands%20of%20Australians%20affected%20by%20floods%20are%20in%20need%20of%20temporary%20housing.%20%0A%0AIf%20you%20need%20a%20place%20to%20stay%20-%20or%20have%20a%20spare%20bed%2C%20couch%20or%20room%2C%20check%20out%20this%20site%3A%0A%0Awww.ozfloodhelp.org%0A%0AThanks%21">
					<img src="/images/email_button.gif" alt="icon_mail" width="130" height="19" /></a>
				</div>
				<div class="share-twitter">
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://ozfloodhelp.org" data-text="Connecting Aussies affected by #QLDflood with welcome Aussie homes" data-count="horizontal" data-via="GetUp">Tweet This</a><script type="text/javascript" src="<%= request.protocol %>platform.twitter.com/widgets.js"></script>
               	</div>
				
				<div class="share-fb">
					<iframe src="<%= request.protocol %>www.facebook.com/plugins/like.php?href=https%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>
  				</div>
            </div><!--networks-->

                    </div><!--head-->
        <div class="nav">
          <ul>
            <li><%= link_to "Find a Place to Stay", search_accommodations_path %></li>
            <li><%= link_to "Offer a Place to Stay", new_accommodation_path %></li>
            <li><a href="/faq" title="FAQ">FAQ</a></li>
            <li><a href="/guidelines" title="Guidelines">Guidelines</a></li>
            <li><a href="/guidelines#terms_and_conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          </ul>
        </div>

        <div class="content">
          <%= display_flash_messages %>
          <%= yield %>
        </div>

        <div class="footer">
			<div class="footer_left">
				Authorised by Simon Sheikh, GetUp, 116 Kippax St Surry Hills 2010, NSW.<br />&copy; 2011 GetUp! Australia.
			</div>
			<div class="footer_links">
				<ul>
					<li><%= link_to "Find a Place to Stay", search_accommodations_path %></li>
					<li><%= link_to "Offer a Place to Stay", new_accommodation_path %></li>
					<li><a href="/faq" title="FAQ">FAQ</a></li>
					<li><a href="/guidelines" title="Guidelines">Guidelines</a></li>
					<li><a href="/guidelines#terms_and_conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
			  </ul>
		  </div><!--footer_links-->
        </div>
    </div>
</body>
</html>
