<!DOCTYPE html>
<html>
<head>
  <title>Queensland flood relief billet volunteering</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= formtastic_stylesheet_link_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
  
<div id="page">
  
<div id="header">
<a href="/"><img src ="/images/getup-logo-on-black.gif" alt="GetUp! Action for Australia"></a>
</div><!-- // #header -->

<div id="content">

<%= yield %>

</div><!-- // #content -->

</div><!-- // #page -->
</body>
</html>